:root {
  --primary: #010101;
  --bg: #fffcb9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Caveat", cursive;
  background-color: var(--bg);
  color: #010101;
  min-height: 2000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 3%;
  background-color: #fffcb9;
  border-bottom: 0.5px solid #f0ffb9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
}

.navbar .navbar-nav a {
  color: #010101;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 8px;
}

.navbar .navbar-nav a:hover {
  color: red;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid red;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.8);
}

.navbar .navbar-extra a {
  margin: 0 0.5rem;
  color: #010101;
}

.navbar .navbar-extra a:hover {
  color: red;
}

#hamburger-menu {
  display: none;
}

/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url(../assets/background-image.jpg); */
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(0deg, #fffcb9 1%, rgba(255, 255, 255, 0) 60%);
  bottom: 0;
}

.hero .content {
  padding: 1.3rem 3%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #1d1d1c;
  line-height: 1.2;
  font-weight: 900px;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.hero .content h1 span {
  color: #fffcb9;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.hero .content p {
  font-size: 2.6rem;
  margin-top: 0.5rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: black;
  background-color: #fffcb9;
  border-radius: 30px;
  box-shadow: 1px 1px 3px rgba(2, 2, 2, 0.7);
}

/* Product Section */
.product {
  padding: 10rem 4% 1.4rem;
}

.product h2 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 3rem;
  color: #010101;
}

.product .row {
  display: flex;
}

.product .row .product-img {
  flex: 1 1 45rem;
}

.product .roq .product-img img {
  width: 100%;
}

.product .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #79ee6eb6;
    width: 20rem;
    height: 100vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 10px;
    border: 1px solid;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.4);
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
