:root {
  --primary: #010101;
  --bg: #fffcb9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Caveat", cursive;
  background-color: var(--bg);
  color: #010101;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 3%;
  background-color: rgba(1, 1, 1, 0.2);
  border-bottom: 0.5px solid #f0ffb9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
}

.navbar .navbar-nav a {
  color: #010101;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 8px;
}

.navbar .navbar-nav a:hover {
  color: #f0ffb9;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.8);
}

.navbar .navbar-extra a {
  margin: 0 0.5rem;
  color: #010101;
}

.navbar .navbar-extra a:hover {
  color: #f0ffb9;
}

#hamburger-menu {
  display: none;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #79ee6e;
    width: 20rem;
    height: 100vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 10px;
    border: 1px solid;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.4);
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
